.navbar {
  border-bottom: 2px solid #ddd;
}

.logo-container {
  padding-left: 20px;
}

.logo-image {
  width: 240px;
  height: 150px;
  cursor: pointer;
}

.search-container {
  position: relative;
  width: 400px;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.suggestion-list {
  position: absolute;

  top: 45px;
  left: 0;

  width: 100%;

  background: white;
  border: 1px solid #ddd;

  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 250px;
  overflow-y: auto;

  z-index: 1000;
}

.suggestion-item {
  padding: 10px 15px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f5f5f5;
}

.location {
  position: relative;
  cursor: pointer;
}

.location-box {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
}

.location-icon {
  color: #ff9900;
  font-size: 18px;
}

.location-text {
  display: flex;
  flex-direction: column;
}

.deliver {
  font-size: 12px;
  color: #555;
}

.city {
  font-weight: bold;
  font-size: 14px;
}

.location-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  width: 150px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.location-item {
  padding: 10px;
  cursor: pointer;
}

.location-item:hover {
  background: #f5f5f5;
}

.category-container {
  position: relative;
}

.category-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.mega-menu {
  position: absolute;
  top: 40px;
  left: 0;

  width: 700px;

  background: white;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 20px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.menu-column h4 {
  margin-bottom: 10px;
}

.menu-column p {
  margin: 5px 0;
  cursor: pointer;
}

.menu-column p:hover {
  color: #2874f0;
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 24px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;

  background: red;
  color: white;

  font-size: 12px;

  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.login-container {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

/* login button */

.login-btn {
  background: #ff9900;
  border: none;
  padding: 8px 16px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.login-btn:hover {
  background: #e68a00;
}

/* user section */

.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* username */

.username {
  font-size: 14px;
  font-weight: 500;
}

/* logout */

.logout-btn {
  background: #333;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #555;
}

/* mobile responsive */

@media (max-width: 768px) {
  .username {
    display: none;
  }
}
